[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KRDC/Plugin
Icon=krdc
Name=Test
Name[pt]=Teste
Name[pt_BR]=Teste
Name[uk]=Тест
Comment=Testplugin for KRDC development
Comment[et]=Plugin KRDC arendustegevuse testimiseks
Comment[nl]=Testplugin voor KRDC-ontwikkeling
Comment[pt]='Plugin' de demonstração para o desenvolvimento com o KRDC
Comment[pt_BR]='Plugin' de demonstração para o desenvolvimento com o KRDC
Comment[sv]=Testinsticksprogram för utveckling av KRDC
Comment[tr]=KRDC geliştirmesi için örnek eklenti
Comment[uk]=Тестовий додаток для розробки KRDC

X-KDE-PluginInfo-Author=Urs Wolfer
X-KDE-PluginInfo-Email=uwolfer@kde.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=krdc_testplugin
X-KDE-PluginInfo-Name=krdc_testplugin

X-KDE-KRDC-Sorting=80
