[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KRDC/Plugin
Icon=krdc
Name=Test
Name[ast]=Preba
Name[bg]=Проба
Name[bs]=Test
Name[ca]=Prova
Name[ca@valencia]=Prova
Name[cs]=Test
Name[da]=Test
Name[de]=Test
Name[el]=Δοκιμή
Name[en_GB]=Test
Name[es]=Prueba
Name[et]=Test
Name[eu]=Proba
Name[fi]=Testi
Name[fr]=Test
Name[ga]=Tástáil
Name[gl]=Proba
Name[hr]=Test
Name[hsb]=Test
Name[hu]=Teszt
Name[ia]=Essaya
Name[it]=Prova
Name[ja]=テスト
Name[kk]=Тест
Name[km]=សាកល្បង
Name[ko]=테스트
Name[lt]=Testavimas
Name[lv]=Tests
Name[mai]=जाँच
Name[mr]=चाचणी
Name[nb]=Test
Name[nds]=Test
Name[nl]=Test
Name[nn]=Test
Name[pa]=ਟੈਸਟ
Name[pl]=Test
Name[pt]=Teste
Name[pt_BR]=Testar
Name[ro]=Test
Name[ru]=Проверка
Name[si]=පිරික්සුම
Name[sk]=Test
Name[sl]=Preizkus
Name[sr]=Проба
Name[sr@ijekavian]=Проба
Name[sr@ijekavianlatin]=Proba
Name[sr@latin]=Proba
Name[sv]=Prov
Name[th]=ทดสอบ
Name[tr]=Test
Name[ug]=سىنا
Name[uk]=Тест
Name[wa]=Asprouvaedje
Name[x-test]=xxTestxx
Name[zh_CN]=测试
Name[zh_TW]=測試
Comment=Testplugin for KRDC development
Comment[ast]=Complementu de preba pal desendolcu de KRDC
Comment[bg]=Пробна приставка за KRDC
Comment[bs]=Probni priključak za razvoj KRDC
Comment[ca]=Connector de prova del desenvolupament del KRDC
Comment[ca@valencia]=Connector de prova del desenvolupament del KRDC
Comment[cs]=Demonstrační modul pro vývoj KRDC
Comment[da]=Test-plugin til KRDC-udvikling
Comment[de]=Testmodul für die KRDC-Entwicklung
Comment[el]=Πρόσθετο δοκιμής για την ανάπτυξη του KRDC
Comment[en_GB]=Testplugin for KRDC development
Comment[es]=Complemento de prueba para el desarrollo de KRDC
Comment[et]=Plugin KRDC arendustegevuse testimiseks
Comment[eu]=Probako plugina KRDC garatzeko
Comment[fi]=KRDC-kehityksen testiliitännäinen
Comment[fr]=Module externe de test pour le développement de KRDC
Comment[ga]=Breiseán tástála le haghaidh fhorbairt KRDC
Comment[gl]=Engadido de proba para o desenvolvemento de KRDC
Comment[hr]=Testni priključak za razvoj KRDC-a
Comment[hu]=Tesztmodul KRDC-fejlesztőknek
Comment[ia]=Plug-in de essayo pro disveloppamento de KRDC
Comment[it]=Estensione di prova per lo sviluppo di KRDC
Comment[ja]=KRDC 開発のためのテスト用プラグイン
Comment[kk]=KRDC-құрастыруын үйрету үшін сынақ плагині
Comment[km]=ការ​អភិវឌ្ឍន៍ Testplugin សម្រាប់ KRDC
Comment[ko]=KRDC 개발을 위한 테스트 플러그인
Comment[lt]=Įskiepis, skirtas KRDC programavimui
Comment[lv]=Demonstrācijas spraudnis KRDC izstrādei
Comment[nb]=Test-programtillegg for KRDC-utvikling
Comment[nds]=Testmoduul för't Utwickeln vun KRDC
Comment[nl]=Testplugin voor KRDC-ontwikkeling
Comment[nn]=Programtillegg for demonstrasjon og opplæring i KRDC-utvikling
Comment[pl]=Wtyczka demonstracyjna do nauki programowania KRDC
Comment[pt]='Plugin' de demonstração para o desenvolvimento com o KRDC
Comment[pt_BR]=Plugin de teste para o desenvolvimento no KRDC
Comment[ro]=Modul de testare pentru dezvoltarea KRDC
Comment[ru]=Демонстрационный модуль для изучения программирования модулей KRDC
Comment[si]=KRDC සංවර්ධනයක් සඳහා පිරික්සුම් ප්ලගිනය
Comment[sk]=Testovací modul pre vývoj KRDC
Comment[sl]=Preizkusni vstavek za razvoj KRDC
Comment[sr]=Пробни прикључак за развој КРДЦ‑а
Comment[sr@ijekavian]=Пробни прикључак за развој КРДЦ‑а
Comment[sr@ijekavianlatin]=Probni priključak za razvoj KRDC‑a
Comment[sr@latin]=Probni priključak za razvoj KRDC‑a
Comment[sv]=Testinsticksprogram för utveckling av KRDC
Comment[tr]=KRDC geliştirmesi için örnek eklenti
Comment[uk]=Тестовий додаток для розробки KRDC
Comment[x-test]=xxTestplugin for KRDC developmentxx
Comment[zh_CN]=KRDC 开发用的测试插件
Comment[zh_TW]=KRDC 開發的測試外掛程式

X-KDE-PluginInfo-Author=Urs Wolfer
X-KDE-PluginInfo-Email=uwolfer@kde.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=krdc_testplugin
X-KDE-PluginInfo-Name=krdc_testplugin

X-KDE-KRDC-Sorting=80
