# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=krdc -caption "%c" %u
Icon=krdc
Terminal=false
Name=Krdc
Name[x-test]=xxKrdcxx
GenericName=Remote Desktop Connection
GenericName[el]=Σύνδεση σε απομακρυσμένη επιφάνεια εργασίας
GenericName[fr]=Connexion à un bureau distant
GenericName[x-test]=xxRemote Desktop Connectionxx
DocPath=krdc/index.html
Categories=Qt;KDE;Network;
