# KDE Config File  
[Desktop Entry]
Type=Application
Exec=krdc -caption "%c" %i %m
Icon=krdc
DocPath=krdc/index.html
Comment=
Comment[xx]=xx
Terminal=0
Name=Remote Desktop Connection
Name[af]=afgeleë werkskerm verbinding
Name[bs]=Veza na udaljeni desktop
Name[da]=Ekstern skrivebordsforbindelse
Name[de]=Verbindung zu Fremdrechner
Name[es]=Conexión remota de escritorio
Name[fi]=Etätyöpöytäyhteys
Name[he]=חיבור לשולחן עבודה מרוחק
Name[ja]=リモートデスクトップ接続
Name[mt]=Konnessjoni ma' desktop remot
Name[pt]=Ligação ao Ecrã Remoto
Name[pt_BR]=Conexões com Ambiente de Trabalho Remoto
Name[sl]=Povezava z oddaljenim namizjem
Name[sv]=Fjärranslutning till skrivbord
Name[tr]=Uzak Masaüstü Bağlantısı
