# KDE Config File
[Desktop Entry]
Type=Application
Exec=krdc -caption %c %u
Icon=krdc
Terminal=false
Name=KRDC
GenericName=Remote Desktop Client
X-DocPath=krdc/index.html
Categories=Qt;KDE;Network;RemoteAccess;
