<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="krdc" version="7">
<MenuBar>
    <Menu name="file">
        <Action name="new_vnc_connection" />
        <Action name="new_nx_connection" />
        <Action name="new_rdp_connection" />
        <Action name="zeroconf_page" />
    </Menu>
    <Menu noMerge="1" name="session"><text>&amp;Session</text>
        <Action name="switch_fullscreen" />
        <Action name="take_screenshot" />
        <Action name="view_only" />
        <Action name="show_local_cursor" />
        <Action name="grab_all_keys" />
        <Action name="scale" />
        <Action name="disconnect" />
    </Menu>
    <Action name="bookmark" />
    <Menu name="settings">
        <Action name="remote_desktop_dockwidget" />
    </Menu>
</MenuBar>
<ToolBar fullWidth="false" name="krdc_remote_view_toolbar" iconText="icononly" newline="false"><text>Remote View Toolbar</text>
    <Action name="switch_fullscreen" />
    <Action name="take_screenshot" />
    <Action name="view_only" />
    <Action name="show_local_cursor" />
    <Action name="grab_all_keys" />
    <Action name="scale" />
    <Action name="disconnect" />
</ToolBar>
<ToolBar fullWidth="false" name="krdc_address_toolbar" iconText="icononly" newline="false" noEdit="true"><text>Address Toolbar</text>
    <Action name="address_line" />
    <Action name="goto_address" />
</ToolBar>
</gui>
