# KDE Config File
[Desktop Entry]
ServiceTypes=application/x-smb-server
Actions=smb2rdc

[Desktop Action smb2rdc]
Name=Open Remote Desktop Connection to This Machine
Name[el]=Δημιουργία σύνδεσης σε απομακρυσμένη επιφάνεια εργασίας σε αυτό το μηχάνημα
Name[fr]=Ouvrir une connexion distante au bureau de cette machine
Name[x-test]=xxOpen Remote Desktop Connection to This Machinexx
Exec=krdc %u
Icon=krdc


