# KDE Config File  
[Desktop Entry]
ServiceTypes=application/x-smb-server
Actions=smb2rdc

[Desktop Action smb2rdc]
Name=Open Remote Desktop Connection to This Machine
Exec=krdc %u
Icon=krdc


