[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KRDC/Plugin
Name=KRDC Plugin
Name[ast]=Complemente KRDC
Name[bg]=Приставка KRDC
Name[bs]=KRDC Dodatak
Name[ca]=Connector del KRDC
Name[ca@valencia]=Connector del KRDC
Name[cs]=Modul KRDC
Name[da]=KRDC-plugin
Name[de]=KRDC-Modul
Name[el]=Πρόσθετο KRDC
Name[en_GB]=KRDC Plugin
Name[es]=Complemento de KRDC
Name[et]=KRDC plugin
Name[eu]=KRDC plugina
Name[fi]=Kopete-liitännäinen
Name[fr]=Module externe KRDC
Name[ga]=Breiseán KRDC
Name[gl]=Engadido KRDC
Name[hr]=Priključak KRDC
Name[hu]=KRDC-bővítmény
Name[ia]=Plug-in de KRDC
Name[it]=Estensione di KRDC
Name[ja]=KRDC プラグイン
Name[kk]=KRDC плагині
Name[km]=កម្មវិធី​ជំនួយ KRDC
Name[ko]=KRDC 플러그인
Name[lt]=KRDC priedas
Name[lv]=KRDC spraudnis
Name[mr]=के-आर-डी-सी प्लगइन
Name[nb]=KRDC programtillegg
Name[nds]=KRDC-Moduul
Name[nl]=KRDC-plugin
Name[nn]=KRDC-programtillegg
Name[pa]=KRDC ਪਲੱਗਇਨ
Name[pl]=Wtyczka KRDC
Name[pt]='Plugin' do KRDC 
Name[pt_BR]=Plugin KRDC
Name[ro]=Extensie KRDC
Name[ru]=Модуль KRDC
Name[si]=KRDC ප්ලගිනය
Name[sk]=Modul KRDC
Name[sl]=Vstavek za KRDC
Name[sr]=Прикључак КРДЦ‑а
Name[sr@ijekavian]=Прикључак КРДЦ‑а
Name[sr@ijekavianlatin]=Priključak KRDC‑a
Name[sr@latin]=Priključak KRDC‑a
Name[sv]=Insticksprogram för KRDC
Name[th]=ส่วนเสริมของ KRDC
Name[tr]=KRDC Eklentisi
Name[ug]=KRDC قىستۇرما
Name[uk]=Додаток KRDC
Name[x-test]=xxKRDC Pluginxx
Name[zh_CN]=KRDC 插件
Name[zh_TW]=KRDC 外掛程式

# Sorting of the plugin.
# 0 is the highest value.
[PropertyDef::X-KDE-KRDC-Sorting]
Type=int
