[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KRDC/Plugin
Name=KRDC Plugin
Name[ca]=Connector del KRDC
Name[cs]=Modul KRDC
Name[da]=KRDC-plugin
Name[de]=KRDC-Modul
Name[el]=Πρόσθετο KRDC
Name[en_GB]=KRDC Plugin
Name[es]=Complemento de KRDC
Name[et]=KRDC plugin
Name[eu]=KRDC plugina
Name[fr]=Module KRDC
Name[ga]=Breiseán KRDC
Name[gl]=Extensión KRDC
Name[hr]=Priključak KRDC
Name[hu]=KRDC-bővítmény
Name[is]=KRDC íforrit
Name[it]=Estensione KRDC
Name[ja]=KRDC プラグイン
Name[km]=កម្មវិធី​ជំនួយ KRDC
Name[ko]=KRDC 플러그인
Name[lv]=KRDC spraudnis
Name[nb]=KRDC programtillegg
Name[nds]=KRDC-Moduul
Name[nl]=KRDC-plugin
Name[nn]=KRDC-programtillegg
Name[pa]=KRDC ਪਲੱਗਇਨ
Name[pl]=Wtyczka KRDC
Name[pt]='Plugin' do KRDC 
Name[pt_BR]=Plug-in KRDC
Name[ro]=Modul KRDC
Name[ru]=Модуль KRDC
Name[sl]=Vstavek za KRDC
Name[sr]=Прикључак КРДЦ‑а
Name[sr@latin]=Priključak KRDC‑a
Name[sv]=Insticksprogram för KRDC
Name[tr]=KRDC Eklentisi
Name[uk]=Додаток KRDC
Name[x-test]=xxKRDC Pluginxx
Name[zh_CN]=KRDC 插件
Name[zh_TW]=KRDC 外掛程式

# Sorting of the plugin.
# 0 is the highest value.
[PropertyDef::X-KDE-KRDC-Sorting]
Type=int
