[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KRDC/Plugin
Name=KRDC Plugin
Name[et]=KRDC plugin
Name[nl]=KRDC-plugin
Name[pt]='Plugin' do KRDC 
Name[pt_BR]='Plugin' do KRDC 
Name[sv]=Insticksprogram för KRDC
Name[tr]=KRDC Eklentisi
Name[uk]=Додаток KRDC

# Sorting of the plugin.
# 0 is the highest value.
[PropertyDef::X-KDE-KRDC-Sorting]
Type=int
