[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KRDC/Plugin
Icon=krdc
Name=Konsole
Name[hsb]=Konsola
Name[sv]=Terminal
Comment=Allows managing SSH or Telnet sessions through KRDC
Comment[nds]=SSH- oder Telnet-Törns över KRDC plegen
Comment[pt]=Permite a gestão de sessões SSH ou Telnet através do KRDC
Comment[pt_BR]=Permite o gerenciamento de sessões SSH ou Telnet através do KRDC
Comment[sv]=Tillåter hantering av SSH- eller Telnet-sessioner via KRDC
Comment[uk]=Надає змогу керувати сеансами SSH або Telnet за допомогою KRDC
Comment[zh_TW]=允許透過 KRDC 管理 SSH 或 Telnet 工作階段

X-KDE-PluginInfo-Author=Urs Wolfer
X-KDE-PluginInfo-Email=uwolfer@kde.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=krdc_konsoleplugin
X-KDE-PluginInfo-Name=krdc_konsoleplugin

X-KDE-KRDC-Sorting=70
