[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KRDC/Plugin
Icon=krdc
Name=Konsole
Name[hsb]=Konsola
Comment=Allows managing SSH or Telnet sessions through KRDC

X-KDE-PluginInfo-Author=Urs Wolfer
X-KDE-PluginInfo-Email=uwolfer@kde.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=krdc_konsoleplugin
X-KDE-PluginInfo-Name=krdc_konsoleplugin

X-KDE-KRDC-Sorting=70
