[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
Name=NX
Name[ca]=NX
Name[cs]=NX
Name[da]=NX
Name[de]=NX
Name[el]=NX
Name[en_GB]=NX
Name[es]=NX
Name[et]=NX
Name[eu]=NX
Name[fr]=NX
Name[ga]=NX
Name[gl]=NX
Name[hr]=NX
Name[hu]=NX
Name[is]=NX
Name[it]=NX
Name[ja]=NX
Name[km]=NX
Name[ko]=NX
Name[lv]=NX
Name[nb]=NX
Name[nds]=NX
Name[nl]=NX
Name[nn]=NX
Name[pa]=NX
Name[pl]=NX
Name[pt]=NX
Name[pt_BR]=NX
Name[ro]=NX
Name[ru]=NX
Name[sl]=NX
Name[sr]=НИкс
Name[sr@latin]=NX
Name[sv]=NX
Name[tr]=NX
Name[uk]=NX
Name[x-test]=xxNXxx
Name[zh_CN]=NX
Name[zh_TW]=NX

X-KDE-Library=kcm_krdc_nxplugin
X-KDE-ParentComponents=krdc_nxplugin
