[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KRDC/Plugin
Icon=krdc
Name=NX
Comment=Allows managing NX sessions through KRDC
Comment[nl]=Sta het beheer van NX-sessies toe via KRDC
Comment[sv]=Tillåter hantering av NX-sessioner via KRDC
Comment[tr]=NX oturumlarını KRDC üzerinden yönetmeye izin verir
Comment[uk]=Надає змогу керувати сеансами NX за допомогою KRDC

X-KDE-PluginInfo-Author=David Gross
X-KDE-PluginInfo-Email=gdavid.devel@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=krdc_nxplugin
X-KDE-PluginInfo-Name=krdc_nxplugin

X-KDE-KRDC-Sorting=40
