[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KRDC/Plugin
Icon=krdc
Name=NX
Name[ca]=NX
Name[da]=NX
Name[de]=NX
Name[el]=NX
Name[en_GB]=NX
Name[es]=NX
Name[et]=NX
Name[eu]=NX
Name[fr]=NX
Name[ga]=NX
Name[gl]=NX
Name[hr]=NX
Name[ja]=NX
Name[km]=NX
Name[ko]=NX
Name[lv]=NX
Name[nb]=NX
Name[nds]=NX
Name[nl]=NX
Name[nn]=NX
Name[pt]=NX
Name[pt_BR]=NX
Name[ro]=NX
Name[ru]=NX
Name[sl]=NX
Name[sr]=НИкс
Name[sr@latin]=NX
Name[sv]=NX
Name[tr]=NX
Name[uk]=NX
Name[x-test]=xxNXxx
Name[zh_CN]=NX
Name[zh_TW]=NX
Comment=Allows managing NX sessions through KRDC
Comment[ca]=Permet gestionar sessions NX mitjançant el KRDC
Comment[da]=Muliggør håndtering af NX-sessioner via KRDC
Comment[de]=Erlaubt die Verwaltung von NX-Sitzungen über KRDC
Comment[el]=Επιτρέπει τη διαχείριση συνεδριών NX μέσω του KRDC
Comment[en_GB]=Allows managing NX sessions through KRDC
Comment[es]=Permite la gestión de sesiones NX mediante KRDC
Comment[et]=NX-seansside haldamise võimaldamine KRDC kaudu
Comment[eu]=NX saioak KRDC bidez kudeatzea baimentzen du
Comment[fi]=Mahdollistaa NX-istuntojen hallinnan KRDC:llä
Comment[fr]=Permet de gérer des sessions NX au travers de KRDC
Comment[ga]=Ceadaíonn sé duit seisiúin NX a bhainistiú trí KRDC
Comment[gl]=Permite xestionar sesións NX por medio de KRDC
Comment[hr]=Omogućuje upravljanje sjednicama NX-a kroz KRDC
Comment[ja]=KRDC から NX セッションを管理できるようにします
Comment[km]=អនុញ្ញាត​ឲ្យ​គ្រប់គ្រង​សម័យ NX តាមរយៈ KRDC
Comment[ko]=KRDC를 통해서 NX 세션 관리하기
Comment[lv]=Ļauj pārvaldīt NX sesijas caur KRDC
Comment[nb]=Tillater å styre NX-økter gjennom KRDC
Comment[nds]=NX-Törns över KRDC plegen
Comment[nl]=Staat het beheren van NX-sessies toe via KRDC
Comment[nn]=Lèt deg handtera NX-økter gjennom KRDC
Comment[pt]=Permite a gestão de sessões NX através do KRDC
Comment[pt_BR]=Permite o gerenciamento de sessões NX através do KRDC
Comment[ro]=Permite gestiunea sesiunilor NX prin KRDC
Comment[ru]=Разрешить управление сеансами NX через KRDC
Comment[sl]=Omogoča upravljanje sej NX prek KRDC
Comment[sr]=Управљање НИкс сесијама кроз КРДЦ
Comment[sr@latin]=Upravljanje NX sesijama kroz KRDC
Comment[sv]=Tillåter hantering av NX-sessioner via KRDC
Comment[tr]=NX oturumlarını KRDC üzerinden yönetmeye izin verir
Comment[uk]=Надає змогу керувати сеансами NX за допомогою KRDC
Comment[x-test]=xxAllows managing NX sessions through KRDCxx
Comment[zh_CN]=允许用户通过 KRDC 管理 NX 会话
Comment[zh_TW]=允許透過 KRDC 管理 NX 工作階段

X-KDE-PluginInfo-Author=David Gross
X-KDE-PluginInfo-Email=gdavid.devel@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=krdc_nxplugin
X-KDE-PluginInfo-Name=krdc_nxplugin

X-KDE-KRDC-Sorting=40
