[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
Name=VNC
Name[ca]=VNC
Name[cs]=VNC
Name[da]=VNC
Name[de]=VNC
Name[el]=VNC
Name[en_GB]=VNC
Name[es]=VNC
Name[et]=VNC
Name[eu]=VNC
Name[fr]=VNC
Name[ga]=VNC
Name[gl]=VNC
Name[hr]=VNC
Name[it]=VNC
Name[ja]=VNC
Name[km]=VNC
Name[ko]=VNC
Name[lt]=VNC
Name[lv]=VNC
Name[nb]=VNC
Name[nds]=VNC
Name[nl]=VNC
Name[nn]=VNC
Name[pt]=VNC
Name[pt_BR]=VNC
Name[ro]=VNC
Name[ru]=VNC
Name[sl]=VNC
Name[sr]=ВНЦ
Name[sr@latin]=VNC
Name[sv]=VNC
Name[tr]=VNC
Name[uk]=VNC
Name[x-test]=xxVNCxx
Name[zh_CN]=VNC
Name[zh_TW]=VNC

X-KDE-Library=kcm_krdc_vncplugin
X-KDE-ParentComponents=krdc_vncplugin
