[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KRDC/Plugin
Icon=krdc
Name=RDP
Name[ru]=Базовая программа RDP
Name[x-test]=xxRDPxx
Comment=Allows managing RDP sessions through KRDC
Comment[ca]=Permet gestionar sessions RDP mitjançant el KRDC
Comment[da]=Muliggør håndtering af RDP-sessioner via KRDC
Comment[el]=Επιτρέπει τη διαχείριση συνεδριών RDP μέσω του KRDC
Comment[et]=RDP-seansside haldamise võimaldamine KRDC kaudu
Comment[eu]=RDP saioak KRDC bidez kudeatzea baimentzen du
Comment[ga]=Ceadaíonn sé duit seisiúin RDP a bhainistiú trí KRDC
Comment[ja]=KRDC から RDP セッションを管理できるようにします
Comment[km]=អនុញ្ញាត​ឲ្យ​គ្រប់គ្រង​សម័យ​របស់ RDP តាមរយៈ KRDC
Comment[ko]=KRDC를 통해서 RDP 세션 관리하기
Comment[nb]=Tillater å styre RDP-økter gjennom KRDC
Comment[nds]=RDP-Törns över KRDC plegen
Comment[nl]=Staat het beheer van RDP-sessies toe via KRDC
Comment[nn]=Lèt deg handtera RDP-økter gjennom KRDC
Comment[pt]=Permite a gestão de sessões RDP através do KRDC
Comment[pt_BR]=Permite o gerenciamento de sessões RDP através do KRDC
Comment[sv]=Tillåter hantering av RDP-sessioner via KRDC
Comment[tr]=RDP oturumlarını KRDC üzerinden yönetmeye izin verir
Comment[uk]=Надає змогу керувати сеансами RDP за допомогою KRDC
Comment[x-test]=xxAllows managing RDP sessions through KRDCxx
Comment[zh_CN]=允许用户通过 KRDC 管理 RDP会话
Comment[zh_TW]=允許透過 KRDC 管理 RDP 工作階段

X-KDE-PluginInfo-Author=Urs Wolfer
X-KDE-PluginInfo-Email=uwolfer@kde.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=krdc_rdpplugin
X-KDE-PluginInfo-Name=krdc_rdpplugin

X-KDE-KRDC-Sorting=60
