[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
Name=RDP
Name[x-test]=xxRDPxx

X-KDE-Library=kcm_krdc_rdpplugin
X-KDE-ParentComponents=krdc_rdpplugin
