[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KRDC/Plugin
Icon=krdc
Name=RDP
Name[ast]=RDP
Name[bg]=RDP
Name[bs]=RDP
Name[ca]=RDP
Name[ca@valencia]=RDP
Name[cs]=RDP
Name[da]=RDP
Name[de]=RDP
Name[el]=RDP
Name[en_GB]=RDP
Name[eo]=RDP
Name[es]=RDP
Name[et]=RDP
Name[eu]=RDP
Name[fi]=RDP
Name[fr]=RDP
Name[ga]=RDP
Name[gl]=RDP
Name[hr]=RDP
Name[hu]=RDP
Name[ia]=RDP
Name[it]=RDP
Name[ja]=RDP
Name[kk]=RDP
Name[km]=RDP
Name[ko]=RDP
Name[lt]=RDP
Name[lv]=RDP
Name[mr]=आर-डी-पी
Name[nb]=RDP
Name[nds]=RDP
Name[nl]=RDP
Name[nn]=RDP
Name[pa]=RDP
Name[pl]=RDP
Name[pt]=RDP
Name[pt_BR]=RDP
Name[ro]=RDP
Name[ru]=Базовая программа RDP
Name[si]=RDP
Name[sk]=RDP
Name[sl]=RDP
Name[sr]=РДП
Name[sr@ijekavian]=РДП
Name[sr@ijekavianlatin]=RDP
Name[sr@latin]=RDP
Name[sv]=RDP
Name[tr]=RDP
Name[ug]=RDP
Name[uk]=RDP
Name[wa]=RDP
Name[x-test]=xxRDPxx
Name[zh_CN]=RDP
Name[zh_TW]=RDP
Comment=Allows managing RDP sessions through KRDC
Comment[ast]=Permite la xestión de sesiones RDP per KRDC
Comment[bg]=Управление на сесии на RDP с KRDC
Comment[bs]=Dopušta upravljanje RPD sesijama kroz KRDC
Comment[ca]=Permet gestionar sessions RDP mitjançant el KRDC
Comment[ca@valencia]=Permet gestionar sessions RDP mitjançant el KRDC
Comment[cs]=Umožňuje spravování sezení RDP pomocí KRDC
Comment[da]=Muliggør håndtering af RDP-sessioner via KRDC
Comment[de]=Erlaubt die Verwaltung von RDP-Sitzungen über KRDC
Comment[el]=Επιτρέπει τη διαχείριση συνεδριών RDP μέσω του KRDC
Comment[en_GB]=Allows managing RDP sessions through KRDC
Comment[es]=Permite la gestión de sesiones RDP mediante KRDC
Comment[et]=RDP-seansside haldamise võimaldamine KRDC kaudu
Comment[eu]=RDP saioak KRDC bidez kudeatzea baimentzen du
Comment[fi]=Sallii RDP-istuntojen hallinnan KRDC:n kautta
Comment[fr]=Permet de gérer des sessions « RDP » au travers de KRDC
Comment[ga]=Ceadaíonn sé duit seisiúin RDP a bhainistiú trí KRDC
Comment[gl]=Permite xestionar sesións RDP por medio de KRDC 
Comment[hr]=Omogućuje upravljanje sjednicama RDP-a kroz KRDC
Comment[hu]=RDP-kezelés KRDC-ből
Comment[ia]=Permitte gerer sessiones RDP per medio de KRDC
Comment[it]=Permette di gestire sessioni RDP con KRDC
Comment[ja]=KRDC から RDP セッションを管理できるようにします
Comment[kk]=KRDC арқылы RDP сеанстарын басқаруға мүмкіндік беру
Comment[km]=អនុញ្ញាត​ឲ្យ​គ្រប់គ្រង​សម័យ​របស់ RDP តាមរយៈ KRDC
Comment[ko]=KRDC를 통해서 RDP 세션 관리하기
Comment[lt]=Leidžia valdyti RDP sesijas per KRDC
Comment[lv]=Ļauj pārvaldīt RDP sesijas caur KRDC
Comment[nb]=Tillater å styre RDP-økter gjennom KRDC
Comment[nds]=RDP-Törns över KRDC plegen
Comment[nl]=Staat het beheer van RDP-sessies toe via KRDC
Comment[nn]=Lèt deg handtera RDP-økter gjennom KRDC
Comment[pa]=KRDC ਰਾਹੀਂ RDP ਸ਼ੈਸ਼ਨਾਂ ਦੇ ਪਰਬੰਧ ਦੀ ਮਨਜ਼ੂਰੀ
Comment[pl]=Pozwala na zarządzanie sesjami RDP przez KRDC
Comment[pt]=Permite a gestão de sessões RDP através do KRDC
Comment[pt_BR]=Permite o gerenciamento de sessões RDP através do KRDC
Comment[ro]=Permite gestiunea sesiunilor RDP prin KRDC
Comment[ru]=Разрешить управление сеансами RDP через KRDC
Comment[si]=KRDC හරහා RDP වාර පාලනයට ඉඩ දෙයි
Comment[sk]=Umožňuje spravovanie RDP sedení pomocou KRDC
Comment[sl]=Omogoča upravljanje sej RDP prek KRDC
Comment[sr]=Управљање РДП сесијама кроз КРДЦ
Comment[sr@ijekavian]=Управљање РДП сесијама кроз КРДЦ
Comment[sr@ijekavianlatin]=Upravljanje RDP sesijama kroz KRDC
Comment[sr@latin]=Upravljanje RDP sesijama kroz KRDC
Comment[sv]=Tillåter hantering av RDP-sessioner via KRDC
Comment[th]=อนุญาตให้ทำการจัดการวาระการเชื่อมต่อ RDP ผ่านทางโปรแกรม KRDC
Comment[tr]=RDP oturumlarını KRDC üzerinden yönetmeye izin verir
Comment[uk]=Надає змогу керувати сеансами RDP за допомогою KRDC
Comment[x-test]=xxAllows managing RDP sessions through KRDCxx
Comment[zh_CN]=允许用户通过 KRDC 管理 RDP会话
Comment[zh_TW]=允許透過 KRDC 管理 RDP 工作階段

X-KDE-PluginInfo-Author=Urs Wolfer
X-KDE-PluginInfo-Email=uwolfer@kde.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=krdc_rdpplugin
X-KDE-PluginInfo-Name=krdc_rdpplugin

X-KDE-KRDC-Sorting=60
