[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
Name=RDP
Name[ast]=RDP
Name[bg]=RDP
Name[bs]=RDP
Name[ca]=RDP
Name[ca@valencia]=RDP
Name[cs]=RDP
Name[da]=RDP
Name[de]=RDP
Name[el]=RDP
Name[en_GB]=RDP
Name[eo]=RDP
Name[es]=RDP
Name[et]=RDP
Name[eu]=RDP
Name[fi]=RDP
Name[fr]=RDP
Name[ga]=RDP
Name[gl]=RDP
Name[hr]=RDP
Name[hu]=RDP
Name[ia]=RDP
Name[it]=RDP
Name[ja]=RDP
Name[kk]=RDP
Name[km]=RDP
Name[ko]=RDP
Name[lt]=RDP
Name[lv]=RDP
Name[mr]=आर-डी-पी
Name[nb]=RDP
Name[nds]=RDP
Name[nl]=RDP
Name[nn]=RDP
Name[pa]=RDP
Name[pl]=RDP
Name[pt]=RDP
Name[pt_BR]=RDP
Name[ro]=RDP
Name[ru]=Базовая программа RDP
Name[si]=RDP
Name[sk]=RDP
Name[sl]=RDP
Name[sr]=РДП
Name[sr@ijekavian]=РДП
Name[sr@ijekavianlatin]=RDP
Name[sr@latin]=RDP
Name[sv]=RDP
Name[tr]=RDP
Name[ug]=RDP
Name[uk]=RDP
Name[wa]=RDP
Name[x-test]=xxRDPxx
Name[zh_CN]=RDP
Name[zh_TW]=RDP

X-KDE-Library=kcm_krdc_rdpplugin
X-KDE-ParentComponents=krdc_rdpplugin
