[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-smb-server;
Actions=smb2rdc;

[Desktop Action smb2rdc]
Name=Open Remote Desktop Connection to This Machine
Name[ar]=افتح عن بعد سطح المكتب الاتصال إلى هذه الآلة
Name[ast]=Abrir conexón remota d'escritoriu a esti sistema
Name[bg]=Връзка с отдалечен работно място с избрания компютър
Name[bn]=এই মেশিনে প্রত্যন্ত ডেস্কটপের সংযোগ খোলো
Name[bs]=Otvara udaljenu vezu površi ka ovoj mašini
Name[ca]=Obre una connexió remota d'escriptori a aquesta màquina
Name[ca@valencia]=Obri una connexió remota d'escriptori a esta màquina
Name[cs]=Otevřít vzdálené připojení plochy k tomuto počítači
Name[da]=Åbn forbindelse til fjernskrivebord til denne maskine
Name[de]=Verbindung zur Arbeitsfläche dieses Rechners herstellen
Name[el]=Δημιουργία σύνδεσης σε απομακρυσμένη επιφάνεια εργασίας σε αυτό το μηχάνημα
Name[en_GB]=Open Remote Desktop Connection to This Machine
Name[eo]=Malfermi deforan tabulan konekton al tiu maŝino
Name[es]=Abrir conexión remota de escritorio a este sistema
Name[et]=Kaugtöölaua ühenduse avamine sellesse arvutisse
Name[eu]=Ireki urruneko mahaigainaren konexioa makina honetara
Name[fa]=باز کردن اتصال رومیزی راه دور برای این ماشین
Name[fi]=Avaa etätyöpöytäyhteys tähän koneeseen
Name[fr]=Ouvrir une connexion distante au bureau de cette machine
Name[ga]=Oscail Ceangal Deisce Cianda leis an Ríomhaire Seo
Name[gl]=Abrir unha conexión remota co escritorio desta máquina
Name[he]=פתח חיבור שולחן עבודה מרוחק למכונה זו
Name[hi]=इस मशीन के लिए रिमोट डेस्कटॉप कनेक्शन खोलें
Name[hne]=ये मसीन बर रिमोट डेस्कटाप कनेक्सन खोलव
Name[hr]=Otvorena veza udaljenog pristupa prema ovom uređaju
Name[hu]=Távoli munkaasztal nyitása itt
Name[ia]=Aperi connexion de scriptorio remote a iste machina
Name[is]=Opna fjarlæga skjáborðtengingu til þessarar vélar
Name[it]=Apri connessione a desktop remoto a questa macchina
Name[ja]=このホストへリモートデスクトップ接続を開く
Name[kk]=Осы компьютердегі үстелге қашық қосылымды ашу
Name[km]=បើក​ការ​ត​ភ្ជាប់​ផ្ទៃ​តុ​ពី​ចម្ងាយ​ទៅ​ម៉ាស៊ីន​នេះ
Name[ko]=이 시스템으로의 원격 데스크톱 연결 열기
Name[lt]=Užmegzti nutolusio darbastalio prijungimą prie šio kompiuterio
Name[lv]=Avērt attālinātās darbirsmas savienojumu uz šo datoru
Name[ml]=വിദൂര പണിയിടത്തിന് ഈ യന്ത്രവുമായുള്ള ബന്ധം തുടങ്ങുക
Name[mr]=या यंत्राकरिता दूरस्थ डेस्कटॉप जुळवणी उघडा
Name[nb]=Åpne fjerntilkobling til skrivebord til denne maskinen
Name[nds]=Schriefdisch-Feernverbinnen na dissen Reekner opmaken
Name[ne]=यो मेशिनमा टाढाको डेस्कटप जडान खोल्नुहोस्
Name[nl]=Externe bureaubladverbinding met deze computer openen
Name[nn]=Opna samband til skrivebordet over nettverket til denne maskina
Name[pa]=ਇਸ ਮਸ਼ੀਨ ਨਾਲ ਰਿਮੋਟ ਡੈਸਕਟਾਪ ਕੁਨੈਕਸ਼ਨ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz zdalne połączenie z pulpitem na tej maszynie
Name[pt]=Abrir uma Ligação Remota ao Ecrã deste Computador
Name[pt_BR]=Abrir conexões remotas para essa máquina
Name[ro]=Deschideți conexiune de birou distant spre această mașină
Name[ru]=Открыть соединение Remote Desktop с этой машиной
Name[si]=මෙම යන්ත්‍රය සඳහා දුරස්ථ වැඩතල සබඳතාව විවෘත කරන්න
Name[sk]=Otvoriť vzdialené pripojenie pracovnej plochy k tomuto počítaču
Name[sl]=Odpri povezavo z oddaljenim namizjem na tem računalniku
Name[sr]=Отворите удаљену везу површи ка овој машини
Name[sr@ijekavian]=Отворите удаљену везу површи ка овој машини
Name[sr@ijekavianlatin]=Otvorite udaljenu vezu površi ka ovoj mašini
Name[sr@latin]=Otvorite udaljenu vezu površi ka ovoj mašini
Name[sv]=Öppna fjärrskrivbordsanslutning till den här datorn
Name[th]=เปิดการเชื่อมต่อพื้นที่ทำงานทางไกลมายังเครื่องนี้
Name[tr]=Bu Makineye Uzak Masaüstü Bağlantısı Aç
Name[uk]=Відкрити з'єднання з віддаленою стільницею до цього комп'ютера
Name[vi]=Mở kết nối màn hình nền từ xa đến máy này
Name[x-test]=xxOpen Remote Desktop Connection to This Machinexx
Name[zh_CN]=打开到此计算机的远程桌面连接
Name[zh_HK]=開放遠端桌面連線到這電腦
Name[zh_TW]=在此主機上開啟遠端桌面
Exec=krdc %u
Icon=krdc
